{{ include('admin/employee/_delete_employee_confirmation.html.twig') }}
<form action="{{ url('delete', { id: employee.id }) }}" method="post" data-confirmation="true">
    <input type="hidden" name="token" value="{{ csrf_token('delete') }}" />
    <input type="submit" value="{{ 'action.delete'|trans }}" class="btn btn-lg btn-block btn-danger" />
</form>
