<div class="item-actions form-inline">
    <div class="row">
        <div class="input-group">
            <a href="{{ path('edit', { id: employee }) }}" class="btn btn-sm btn-default">
                <i class="fa fa-edit" aria-hidden="true"></i> {{ 'action.edit'|trans }}
            </a>
        </div>
        <div class="input-group">
            {{ include('admin/employee/_delete_employee_confirmation.html.twig') }}
            <form action="{{ url('delete', { id: employee }) }}" method="post" data-confirmation="true">
                <input type="hidden" name="token" value="{{ csrf_token('delete') }}" />
                <button type="submit" class="btn btn-sm btn-danger">
                    <i class="fa fa-close" aria-hidden="true"></i> {{ 'action.delete'|trans }}
                </button>
            </form>
        </div>
    </div>
</div>