{% extends 'admin/layout.html.twig' %}

{% block body_id 'edit' %}

{% block main %}
    <h1>{{ 'title.edit_employee'|trans({'%id%': employee.id}) }}</h1>

    {{ include('admin/employee/_form.html.twig', {
        form: form,
        button_label: 'action.save'|trans,
        include_back_to_home_link: true,
    }, with_context = false) }}
{% endblock %}

{% block sidebar %}
    <div class="section actions">
        {{ include('admin/employee/_delete_form.html.twig', { employee: employee }, with_context = false) }}
    </div>

    {{ parent() }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready( function() {
            $('[name="employee[isFreelancer]"]').change(function() {
                if($(this).val() == 1) {
                    activateHourRate();
                    $('#employee_hourRate').val('0.00');
                } else {
                    inactivateHourRate();
                    $('#employee_hourRate').val('');
                }
            });
            if ($('[name="employee[isFreelancer]"]:checked').val() == 1) {
                activateHourRate();
            } else {
                inactivateHourRate();
            }
            
            function activateHourRate() {
                $('#employee_hourRate').closest('.form-group').show();
                $('#employee_hourRate').attr('required', true);
            }
            
            function inactivateHourRate() {
                $('#employee_hourRate').closest('.form-group').hide();
                    $('#employee_hourRate').attr('required', false);
            }
        });
    </script>
{% endblock %}

