{% extends 'admin/layout.html.twig' %}

{% block body_id 'index' %}

{% block main %}
    <h1>{{ 'title.employee_list'|trans }}</h1>

    <div class="row">
        <div class="col-sm-12">
            <div class="well">
                <form id="search_form" method="post">
                    <fieldset>
                        <div class="col-sm-3">
                            <input type="text" id="search_text" name="search_text" value="" class="form-control" placeholder="{{ 'action.search_text'|trans }}"/>
                        </div>
                        <div class="col-sm-3">
                            <div class="date" data-toggle="datepicker">
                                <input type="date" id="search_from" name="search_from" data-date-format="YYYY-MM-DD" data-date-locale="en" class="form-control" placeholder="{{ 'action.search_from'|trans }}">
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="date" data-toggle="datepicker"><i class="fa fa-arrows-h" aria-hidden="true" style="position: absolute; left: -6px; top: 14px;"></i>
                                <input type="date" id="search_from" name="search_to" data-date-format="YYYY-MM-DD" data-date-locale="en" class="form-control" placeholder="{{ 'action.search_from'|trans }}">
                            </div>
                        </div>
                        <div class="col-sm-3 text-right">
                            <button type="button" class="btn btn-primary" id="search_button">
                                <i class="fa fa-search" aria-hidden="true"></i> {{ 'action.search'|trans }}
                            </button>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
                        
    <table class="table table-striped table-middle-aligned">
        <thead>
            <tr>
                <th scope="col" width="10%">{{ 'label.id'|trans }}</th>
                <th scope="col" width="40%">{{ 'label.employee_fullname'|trans }}</th>
                <th scope="col" width="25%" class="text-center">{{ 'label.email'|trans }}</th>
                <th scope="col" width="25%" class="text-center"><i class="fa fa-cogs" aria-hidden="true"></i> {{ 'label.actions'|trans }}</th>
            </tr>
        </thead>
        <tbody id="table_body">
        {% for employee in employees %}
            <tr>
                <td>{{ employee.id }}</td>
                <td>{{ employee.fullName }}</td>
                <td>{{ employee.email }}</td>
                <td class="text-right">
                    <div class="item-actions form-inline">
                        <div class="row">
                            <div class="input-group">
                                <a href="{{ path('edit', { id: employee.id }) }}" class="btn btn-sm btn-default">
                                    <i class="fa fa-edit" aria-hidden="true"></i> {{ 'action.edit'|trans }}
                                </a>
                            </div>
                            <div class="input-group">
                                {{ include('admin/employee/_delete_employee_confirmation.html.twig') }}
                                <form action="{{ url('delete', { id: employee.id }) }}" method="post" data-confirmation="true">
                                    <input type="hidden" name="token" value="{{ csrf_token('delete') }}" />
                                    <button type="submit" class="btn btn-sm btn-danger">
                                        <i class="fa fa-close" aria-hidden="true"></i> {{ 'action.delete'|trans }}
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4" align="center">{{ 'employee.no_employees_found'|trans }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% if employees.haveToPaginate %}
        <div class="navigation text-center">
            {{ pagerfanta(employees, 'twitter_bootstrap3_translated', { routeName: 'index_paginated' }) }}
        </div>
    {% endif %}
{% endblock %}

{% block sidebar %}
    <div class="section actions">
        <a href="{{ path('new') }}" class="btn btn-lg btn-block btn-success">
            <i class="fa fa-plus" aria-hidden="true"></i> {{ 'action.create_employee'|trans }}
        </a>
    </div>

    {{ parent() }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
        
    <script id="actions-template" type="text/x-handlebars-template">
        {% verbatim %}
        <div class="item-actions form-inline">
            <div class="row">
                <div class="input-group">
                    <a href="{{ path('edit', { id: employee }) }}" class="btn btn-sm btn-default">
                        <i class="fa fa-edit" aria-hidden="true"></i> {{ 'action.edit'|trans }}
                    </a>
                </div>
                <div class="input-group">
                    {{ include('admin/employee/_delete_employee_confirmation.html.twig') }}
                    <form action="{{ url('delete', { id: employee }) }}" method="post" data-confirmation="true">
                        <input type="hidden" name="token" value="{{ csrf_token('delete') }}" />
                        <button type="submit" class="btn btn-sm btn-danger">
                            <i class="fa fa-close" aria-hidden="true"></i> {{ 'action.delete'|trans }}
                        </button>
                    </form>
                </div>
            </div>
        </div>
        {% endverbatim %}
    </script>
    
    <script>
    $(document).ready(function($)
    {
        $('#search_button').click(function(){
            //Loading signal over the table
            $('#search_button').html('{{ 'action.loading'|trans }}');
            
            var form = $('#search_form');
            var serialized = form.serializeArray();
            var data = {};
            $.each(serialized, function(index, value) {
                data[value.name] = value.value;
            });
            
            $.ajax({
                method: "POST",
                url: "{{ url('search') }}",
                data: data,
                dataType: 'json',
                success: function(data)
                {
                    var html = "";  
                    html += "<tr>";
                    html += "<td colspan='4' align='center'>{{ 'employee.no_employees_found'|trans }}</td>";
                    html += "</tr>";
                    
                    if(data.hasOwnProperty("response") && data.response === "success")
                    {
                        if(data.hasOwnProperty("employees"))
                        {
                            //http://stackoverflow.com/questions/3710204/how-to-check-if-a-string-is-a-valid-json-string-in-javascript-without-using-try/3710226
                            if (/^[\],:{}\s]*$/.test(data.employees.replace(/\\["\\\/bfnrtu]/g, '@').
                                    replace(/"[^"\\\n\r]*"|true|false|null|-?\d+(?:\.\d*)?(?:[eE][+\-]?\d+)?/g, ']').
                                    replace(/(?:^|:|,)(?:\s*\[)+/g, '')))
                            {
                                var employees = JSON.parse(data.employees);
                                var templates = JSON.parse(data.templates);

                                if(employees.length > 0)
                                {   
                                    html = "";
                                    for (d in employees) {
                                        
                                        // Search on templates array for the actions buttons of each employee
                                        var actions = "";
                                        for (t in templates) {
                                            if ( templates[t].id = employees[d].id) {
                                                actions = templates[d].html;
                                            }
                                        }
                                        html += "<tr>";
                                        html += "<td>" + employees[d].id + "</td>";
                                        html += "<td>" + employees[d].fullName + "</td>";
                                        html += "<td>" + employees[d].email + "</td>";
                                        html += "<td class='text-right'>" + actions.content + "</td>";
                                        html += "</tr>";
                                    }
                                }
                            }
                            else
                            {
                                console.log("INVALID JSON STRING");
                            }
                        }
                        else
                        {
                            console.log("EMPLOYEES NOT FOUND");
                        }
                    }
                    $("#table_body").html(html);
                    $(".navigation").html('');
                    $('#search_button').html('<i class="fa fa-search" aria-hidden="true"></i> '+'{{ 'action.search'|trans }}');
                },
                error: function(jqXHR, exception)
                {
                    if(jqXHR.status === 405)
                    {
                        console.error("METHOD NOT ALLOWED!");
                    }
                    var html = "";
                    html += "<tr>";
                    html += "<td colspan='4' align='center'>{{ 'employee.no_employees_found'|trans }}</td>";
                    html += "</tr>";
                    $("#table_body").html(html);
                    $(".navigation").html('');
                    $('#search_button').html('<i class="fa fa-search" aria-hidden="true"></i> '+'{{ 'action.search'|trans }}');
                }
            });
        });
    });
    </script>
{% endblock %}