{% extends 'admin/layout.html.twig' %}

{% block body_id 'new' %}

{% block main %}
    <h1>{{ 'title.employee_new'|trans }}</h1>

    {{ form_start(form) }}
        {{ form_row(form.id) }}
        {{ form_row(form.fullName) }}
        {{ form_row(form.email) }}
        {{ form_row(form.address) }}
        {{ form_row(form.phone) }}
        {{ form_row(form.birthDate) }}
        {{ form_row(form.contractDate) }}
        {{ form_row(form.isFreelancer) }}
        {{ form_row(form.hourRate) }}
        
        <input type="submit" value="{{ 'label.create_employee'|trans }}" class="btn btn-primary" />
        {{ form_widget(form.saveAndCreateNew, { label: 'label.save_and_create_new', attr: { class: 'btn btn-primary' } }) }}
        <a href="{{ path('index') }}" class="btn btn-link">
            {{ 'action.back_to_list'|trans }}
        </a>
    {{ form_end(form) }}
{% endblock %}

{% block sidebar %}
    {{ parent() }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready( function() {
            $('[name="employee[isFreelancer]"]').change(function() {
                if($(this).val() == 1) {
                    activateHourRate();
                    $('#employee_hourRate').val('0.00');
                } else {
                    inactivateHourRate();
                    $('#employee_hourRate').val('');
                }
            });
            if ($('[name="employee[isFreelancer]"]:checked').val() == 1) {
                activateHourRate();
            } else {
                inactivateHourRate();
            }
            
            function activateHourRate() {
                $('#employee_hourRate').closest('.form-group').show();
                $('#employee_hourRate').attr('required', true);
            }
            
            function inactivateHourRate() {
                $('#employee_hourRate').closest('.form-group').hide();
                    $('#employee_hourRate').attr('required', false);
            }
        });
    </script>
{% endblock %}
